<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- <script src="https://kit.fontawesome.com/yourcode.js"></script> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="/static/js/print/print.min.css">
    <script src="/static/js/print/print.min.js"></script>
    <script src="/static/js/c_model.js"></script>
    <script src="/static/js/c_note.js"></script>
    <script src="/static/js/c_customer.js"></script>
    <script src="/static/js/c_product.js"></script>
    <script src="/static/js/c_order.js"></script>
    <script src="/static/js/c_impo.js"></script>
    <script src="/static/js/c_lead.js"></script>
    <script src="/static/js/c_state.js"></script>
    <script src="/static/js/chart.js"></script>
    <style>
        .mystyle {
            font-family: 'Open Sans', sans-serif;
        }
    </style>
    <script>
        if (typeof(Storage) !== "undefined") {
            // var login = localStorage.getItem("login");
            var email = localStorage.getItem("email");
            var pass = localStorage.getItem("pass");
            // var password = localStorage.getItem("password");
            console.log(email, pass);
            if ((email == undefined) || (email == "") || (email == null)) {
                location.replace("/login");
            }
            jQuery.post("/login", {
                email: email,
                pass: pass
            }, function(r, e) {
                console.log(r);
                if (r.status == "OK") {

                } else {
                    location.replace("/login");
                }
                // console.log(e);
            })
        } else {
            //document.getElementById("result").innerHTML = "Sorry, your browser does not support Web Storage...";
        }
    </script>
</head>

<body>
    <div class="" ng-app="person">
        <div ng-controller="sale" class="w3-container">
            <div class="w3-row">
                <div class="w3-col" style="width: 50%">
                    <div>
                        <table style="width: 100%">
                            <tr style="width: 100%">
                                <th class="w3-black w3-border">Tình trạng cá nhân</th>
                            </tr>
                            <tr style="width: 100%">
                                <td>
                                    <table class="w3-border" style="width: 100%">
                                        <tr class="w3-light-gray">
                                            <td class="w3-border" style="width: 40%">Tình trạng</td>
                                            <td class="w3-border" style="text-align: right">An toàn</td>
                                        </tr>
                                        <tr>
                                            <td class="w3-border">Đang xử lý</td>
                                            <td class="w3-border" style="text-align: right">7</td>
                                        </tr>
                                        <tr class="w3-light-gray">
                                            <td class="w3-border">Doanh số tuần</td>
                                            <td class="w3-border" style="text-align: right">1,980,000</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="w3-margin-top">
                        <table style="width: 100%">
                            <tr style="width: 100%">
                                <th class="w3-black w3-border">Đơn hàng đang xử lý</th>
                            </tr>
                            <tr style="width: 100%">
                                <td>
                                    <table class="w3-border" style="width: 100%">
                                        <tr>
                                            <th class="w3-border" style="width: 20%">PO</th>
                                            <th class="w3-border" style="width: 65%">Khách hàng</th>
                                            <th class="w3-border" style="width: 5%">Tình trạng</th>
                                            <th class="w3-border" style="width: 10%">Thanh toán</th>
                                        </tr>
                                        <tr ng-repeat="i in run_orders" ng-click="detail(i)">
                                            <td class="w3-border" >{{"PO" + cutString("00100" + i.id, 5)}}</td>
                                            <td class="w3-border">{{id_to_name(i.customer)}}</td>
                                            <td class="w3-border" style="text-align: center">{{i.status}}</td>
                                            <td class="w3-border w3-green" style="text-align: center" ng-if="i.finance == true">{{'YES'}}</td>
                                            <td class="w3-border w3-red" style="text-align: center" ng-if="i.finance == false">{{'NO'}}</td>
                                        </tr>
                                        
                                    </table>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
                <div class="w3-col" style="width: 50%">

                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/sale.js"></script>
</body>

</html>