<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script> -->
    <!-- <link rel="stylesheet" type="text/css" href="js/print/print.min.css"> -->
    <!-- <script src="js/print/print.min.js"></script> -->
    <script src="/static/js/chart.js"></script>
    <script src="/static/js/c_model.js"></script>
    <script src="/static/js/c_note.js"></script>
    <script src="/static/js/c_customer.js"></script>
    <script src="/static/js/c_product.js"></script>
    <script src="/static/js/c_order.js"></script>
    <script src="/static/js/c_impo.js"></script>
    <script src="/static/js/c_lead.js"></script>

</head>
<body>
    <div>
        <canvas id="myChart" width="800" height="400"></canvas>
    </div>
    <script src="/static/js/test.js"></script>            
</body>
</html>