<% include ../app/header.ejs %>
<div ng-controller="all_impo">
    <div id="all_impo">
        <div>
            <table class="w3-table-all">
                <tr>
                    <th style="width: 10%">Ngày nhập liệu</th>
                    <th style="width: 10%">Nhập hàng</th>
                    <th style="text-align: right">Đơn vị</th>
                    <th style="text-align: right">Giá nhập kho</th>
                    <th style="text-align: right">Giá bán</th>
                    <!-- <th>Ghi chú</th> -->
                </tr>
                <tr ng-repeat="i in impos" ng-click="detail(i)" class="w3-hover-green">
                    <td >{{date(i.createdAt)}}</td>
                    <td >{{date(i.date)}}</td>
                    <td style="text-align: right">{{i.vendor}}</td>
                    <td style="text-align: right">{{getTotalIn(i)}}</td>
                    <td style="text-align: right">{{getTotalOut(i)}}</td>
                    <!-- <td>{{i.note}}</td> -->
                </tr>
            </table>
        </div>
        
    </div>
    <div id="detail_all_impo">
        <% include detail.ejs %>
    </div>
    <script src="/static/js/m_impo.js"></script>
</div>
<% include ../app/footer.ejs %>