<div>
    <div class="w3-margin">
        <button ng-click="back()" class="w3-button w3-yellow w3-round">Trở lại</button>
        <button ng-click="delete()" class="w3-button w3-red w3-round">Xoá</button>
        <button ng-click="edit()" class="w3-button w3-green w3-round">Cập nhật</button>
    </div>
    <div class=" w3-col w3-half w3-container">
        <p class="w3-padding w3-round w3-indigo">Trạng thái thanh toán</p>
        <input class="w3-check" type="checkbox" ng-model="detail_impo.finance" ng-click="checkFinance()"> Đã thanh toán
    </div>
    <div>
        <table class="w3-table-all">
            <tr>
                <td>Nhà phân phối</td>
                <td><input ng-model="detail_impo.vendor" class="w3-input"></td>
            </tr>
            <tr>
                <td>Ngày nhập hàng</td>
                <td><input ng-model="detail_impo.date" type="date"></td>
            </tr>
        </table>
    </div>
    <label><b>Thông tin nhập hàng</b></label>
    <div class="w3-container">
        <table class="w3-table-all">
            <tr>
                <th>Mã sản phẩm</th>
                <th>Tên</th>
                <th>Số lượng</th>
                <th>Giá nhập kho</th>
                <th>Giá bán</th>
                <th>Khuyến mãi</th>
                <th>Tiền nhập</th>
                <th>Thành tiền</th>
            </tr>
            <tr ng-repeat="i in detail_impo.products">
                <td>{{cutString(i.productId, 5)}}</td>
                <td>{{i.name}}</td>
                <td><input ng-model="i.amount" class="w3-input"></td>
                <td><input ng-model="i.price_in" class="w3-input"></td>
                <td><input ng-model="i.price" class="w3-input"></td>
                <td><input ng-model="i.discount" class="w3-input"></td>
                <td>{{formatNumber((i.price_in)*i.amount)}}</td>
                <td>{{formatNumber((i.price - i.discount)*i.amount)}}</td>
            </tr>
        </table>
    </div>
</div>