<% include ../app/header.ejs %>
<div ng-controller="all_order">
    <div id="all_order" class="">
        <table class="w3-table-all ">
            <tr>
                <!-- <th>Thanh toán</th> -->
                <th>Mã đơn hàng</th>
                <th>Khách hàng</th>
                <th>Số tiền</th>
                <th>Ngày</th>
                <th>Trạng thái</th>
            </tr>
            <tr ng-repeat="i in orders_view" ng-click="detail(i)"  class=" w3-hover-blue">
                <td ng-if="i.finance == false" class="w3-orange w3-hover-blue">{{"PO" + cutString("00100" + i.id, 5)}}</td>
                <td ng-if="i.finance == true" class="w3-green w3-hover-blue">{{"PO" + cutString("00100" + i.id, 5)}}</td>
                <td>{{getCustomerName(i.customer)}}</td>
                <td style="text-align: right">{{getTotal(i)}}</td>
                <td>{{date(i.createdAt)}}</td>
                <td ng-if="i.alert" class="w3-red">{{ i.status }}</td>
                <td ng-if="!i.alert">{{ i.status }}</td>
            </tr>

        </table>
    </div>
    <% include detail.ejs %>
</div>
<script src="/static/js/m_order.js"></script>
<% include ../app/footer.ejs %>