<% include ../app/header.ejs %>
<div id="create_order" ng-controller="create_order" class="w3-row">
    <div class="w3-col w3-threequarter w3-container">
        <div class="w3-light-blue w3-padding w3-round">
                <!-- <table class="w3-table-all"> -->
                    <h5>Thêm sản phẩm <button class="w3-round" ng-click="loadProducts()">LO</button></h5>
                        <!-- <td>Thêm sản phẩm</td> -->
                        <input class="w3-input w3-round" type="text" ng-model="filter_product" placeholder="Lọc sản phẩm theo tìm kiếm">
                        <select class="w3-select" ng-model="aproduct">
                            <option ng-repeat="i in aproducts | filter: filter_product" value="{{i}}">{{i.name}} - <b>{{i.price}}</b></option>
                        </select>
                    <!-- </table> -->
                    <button class="w3-button  w3-round w3-blue w3-margin" ng-click="addProduct()">Thêm</button>
        </div>
        <!-- <h5>Tạo hoá đơn</h5> -->
        <div class="w3-margin-top">
                <table class="w3-table-all">
                        <tr>
                            <th>Tên</th>
                            <th>Số lượng</th>
                            <th>Giá</th>
                            <th>Khuyến mãi</th>
                            <th>Tổng</th>
                        </tr>
                        <tr ng-repeat="i in products">
                            <td>{{i.name}}</td>
                            <td><input ng-model="i.amount"></td>
                            <td>{{i.price.toLocaleString()}}</td>
                            <td><input ng-model="i.discount"></td>
                            <td>{{ (i.price * i.amount - i.discount).toLocaleString()}}</td>
                        </tr>
                        <tr>
                            <td>TỔNG</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{totalProducts().toLocaleString()}}</td>
                        </tr>
                    </table>
                    <button ng-click="create()" class="w3-button w3-round w3-blue w3-margin w3-right">Tạo</button>
        </div>
    </div>
    <div id="customers" class="w3-col w3-quarter w3-container">
        <div class="w3-light-gray w3-round w3-padding">
                <h5>Thêm khách hàng <button class="w3-round" ng-click="loadCustomers()">LO</button></h5>
                <input ng-model="filter_customer" placeholder="Hỗ trợ lọc" class="w3-input w3-margin w3-border"  style="display: none">
                <select id="select_create_customer_order" ng-model="customer" class="w3-select" ng-options="x.first+' '+x.name for x in customers | filter: filter_customer">
                    <!-- <option ng-repeat="i in customers">{{i.first}} {{i.name}}</option> -->
                </select>
        </div>
        <!-- <button ng-click="addCustomer()" class="w3-button w3-blue w3-round w3-right w3-margin">Thêm</button> -->
        <div id="staff" class="w3-gray w3-round w3-padding">
                <h5>Nhân viên tạo</h5>
                <input ng-model="filter_staff" placeholder="Hỗ trợ lọc" class="w3-input w3-margin w3-border" style="display: none">
                <select ng-model="staff" class="w3-select" ng-options="x.first+' '+x.name for x in staffs | filter: filter_staff">
                    <!-- <option ng-repeat="i in customers">{{i.first}} {{i.name}}</option> -->
                </select>
        </div>
    </div>
    <script src="/static/js/m_order.js"></script>
</div>
<% include ../app/footer.ejs %>