<!-- DIV append with all, bacause -->
<div id="detail_all_order" class="w3-container">
    <div style="display: none">
            <button  ng-click="begin()" id="btnReloadDetailAllOrder"></button>
    </div>
    
    <% include print_order.ejs %>
    <% include print_transport.ejs %>
    <% include print-check-product.ejs %>
    <div class="">
        <button class="w3-button w3-round w3-black w3-margin-top" ng-click="back('detail_all_order')"><i class="material-icons" style="font-size:24px">arrow_back</i></button>
        <button class="w3-button w3-round w3-black w3-margin-top" ng-click="updateOrder(detail_order._id)"><i class="material-icons" style="font-size:24px">autorenew</i></button>
        <button class="w3-button w3-round w3-gray w3-margin-top" ng-click="print()"><i class="material-icons" style="font-size:24px">file_download</i></button>
        <button class="w3-button w3-round w3-gray w3-margin-top" ng-click="printTransport()"><i class="material-icons" style="font-size:24px">airport_shuttle</i></button>
        <button class="w3-button w3-round w3-gray w3-margin-top" ng-click="printStock()"><i class="material-icons" style="font-size:24px">done_all</i></button>
        <button class="w3-button w3-round w3-red w3-right" ng-click="deleteOrder(detail_order._id)"><i class="material-icons" style="font-size:24px">delete</i></button>
        <div class="w3-row w3-light-gray w3-margin-top w3-round">
            <div class="w3-container w3-col w3-half">
                <p class="w3-padding w3-round w3-light-blue" style="text-align: center">{{getStateOrder(detail_order.status)}}</p>
                <!-- <button class="w3-button w3-round w3-gray" ng-click="pre_state()">Lùi</button> -->
                <!-- <button class="w3-button w3-round w3-gray" ng-click="nex_state()">Tiếp</button> -->
                <div class="w3-padding w3-hover-red w3-round w3-gray w3-rest w3-half w3-container" style="text-align: center" ng-click="pre_state()"><i class="material-icons" style="font-size:24px; text-align: center">arrow_back</i></div>
                <div class="w3-padding w3-hover-blue w3-round w3-gray w3-rest w3-container" style="text-align: center" ng-click="nex_state()"><i class="material-icons" style="font-size:24px; text-align: center">arrow_forward</i></div>
            </div>
            <div class=" w3-col w3-half w3-container">
                <p class="w3-padding w3-round w3-indigo">Trạng thái thanh toán</p>
                <input class="w3-check" type="checkbox" ng-model="detail_order.finance" ng-click="checkFinance()"> Đã thanh toán
            </div>
        </div>    
    </div>
    <div>

    </div>
    <div>
        <label>Thông tin đơn hàng</label>
        <div class="w3-container w3-margin-bottom">
            <table class="w3-table-all">
                <tr>
                    <td>Mã</td>
                    <td>{{ "PO" + cutString("00100" + detail_order.id, 5) }}</td>
                </tr>
                <tr>
                    <td>Khách hàng</td>
                    <td ng-click="customer();">{{ getCustomerName(detail_order.customer) }}</td>
                </tr>
            </table>
        </div>
        <label class="w3-margin-top">Sản phẩm</label>
        <div class="w3-container w3-margin-bottom">
            <table class="w3-table-all">
                <tr>
                    <th>Tên</th>
                    <th>Số lượng</th>
                    <th>Giá</th>
                    <th>Khuyến mãi</th>
                    <th>Tổng</th>
                </tr>
                <tr ng-repeat="i in detail_order.products">
                    <td>{{i.name}}</td>
                    <td><input ng-model="i.amount"></td>
                    <td style="text-align: right;">{{formatNum(i.price - i.discount)}}</td>
                    <td><input ng-model="i.discount" style="text-align: right"></td>
                    <td style="text-align: right;">{{ ((i.price - i.discount)* i.amount).toLocaleString()}}</td>
                    <td><button class="w3-button w3-red w3-round" ng-click="deleteProduct(i)">-</button></td>
                </tr>
                <tr>
                    <td><button class="w3-button w3-round w3-green" onclick="document.getElementById('id01').style.display='block'">Thêm sản phẩm</button></td>
                    <td></td>
                    <td></td>
                    <td>TỔNG</td>
                    <!-- <td></td> -->
                    <td style="text-align: right;">{{getTotal(detail_order)}}</td>
                </tr>
            </table>
        </div>
        <div>
            <label>Ghi chú</label>
            <div>

            </div>
        </div>
    </div>
    <div>
        <div>
                <!-- SEARCH -->
            <div ng-repeat="i in detail_notes" class="w3-container w3-margin w3-light-gray w3-round w3-padding">
                <label class=""><b>{{date(i.createdAt)}} - {{i.title}}</b></label>
                <p ng-bind="i.content"></p>
            </div>
        </div>
        <div id="id01" class="w3-modal">
                <div class="w3-modal-content">
                        <div class="w3-light-blue w3-padding w3-round">
                                <!-- <table class="w3-table-all"> -->
                                    <h5>Thêm sản phẩm <button class="w3-round" ng-click="loadProducts()">LO</button></h5>
                                        <!-- <td>Thêm sản phẩm</td> -->
                                        <input class="w3-input w3-round" type="text" ng-model="filter_product" placeholder="Lọc sản phẩm theo tìm kiếm">
                                        <select class="w3-select" ng-model="aproduct">
                                            <option ng-repeat="i in aproducts | filter: filter_product" value="{{i}}">{{i.name}} - <b>{{i.price}}</b></option>
                                        </select>
                                    <!-- </table> -->
                                    <button class="w3-button  w3-round w3-blue w3-margin" ng-click="addProduct()">Thêm</button>
                        </div>
                </div>
              </div>
        <button ng-click="add_note()">Thêm ghi chú</button>
        <% include order_note.ejs %>
            <!-- FOOTER  -->
    </div>
</div>
