<!-- Before using with REPLACE order_note another name -->

<div id="order_note" ng-controller="order_note">
        <form>
            <table class="w3-table-all">
                <tr>
                    <td style="width: 15%">Tên</td>
                    <td>
                        <input class="w3-input w3-border" type="text" ng-model="title" name="title">
                    </td>
                </tr>
                <td>Ghi chú</td>
                <td>
                    <textarea class="w3-input w3-border" type="text" ng-model="content" name="content"></textarea>
                </td>
                </tr>
            </table>
            <button class="w3-button w3-right w3-blue w3-round w3-margin" type="button" ng-click="create()" id="btnCreateNoteCustomer">Thêm</button>
        </form>
    </div>
    <script>
        var obj_create_note_order = {
            source: "orders", //define source your using
            id: ""  //id with support
        }
        function setIdNoteOrder(id){
            obj_create_note_order.id = id;
        }
        app.controller("order_note", function($scope, $http, $interval, $timeout) {
            $scope.create = function(id) {
                let obj = {
                    title: $scope.title,
                    content: $scope.content,
                    source: obj_create_note_order.source,
                    sourceId: obj_create_note_order.id
                }
                console.log(obj);
                $http.post("/notes", obj).then((a) => {
                    console.log(a);
                }).catch((e) => {
                    console.log(e);
                })
                jQuery("#order_note").hide();
            }
            jQuery("#order_note").hide();
        });
    </script>