<div style="display: none">
    <form method="post" action="#" id="transport-form">
        <div class="w3-row" style="border-bottom: 2px solid gray;">
            <!-- HEAD -->
            <div class="w3-col" style="width: 120px">
                <img height="100px" width="100px" src="https://i.imgur.com/YHnO0LE.png" title="source: imgur.com" />
            </div>
            <div class="w3-rest">
                <h3><b>CÔNG TY TNHH GIẢI PHÁP CÔNG NGHỆ CRETA</b></h3>
                <p>Địa chỉ: 659 Lạc Long Quân, P. 10, Q. Tân Bình, Tp. HCM<br>Điện thoại: 0869 27 07 17</p>
            </div>
        </div>
        <div>
            <h1 class="w3-center"><b>VẬN ĐƠN</b></h1>
            <p class="w3-center mystyle" style="font-size: 24px">MĐH: {{"PO" + cutString("00100" + detail_order.id, 5) }}</p>
        </div>
        <div class="w3-row w3-margin-top    ">
            <!-- body -->
            
            <div class="w3-col w3-twothird w3-container">
                <label><b>Thông tin hàng hoá</b></label>
                <div class="" style="border-top: 2px solid black;">
                    <table class="w3-table">
                            <tr class="">
                                <th>Tên</th>
                                <th>Số lượng</th>
                                <!-- <th>Giá</th> -->
                                <!-- <th>Khuyến mãi</th> -->
                                <!-- <th>Tổng</th> -->
                            </tr>
                            <tr ng-repeat="i in detail_order.products">
                                <td>{{i.name}}</td>
                                <td>{{i.amount}}</td>
                                <!-- <td>{{formatNum(i.price)}}</td> -->
                                <!-- <td>{{i.discount}}</td> -->
                                <!-- <td>{{ formatNum(i.amount * (i.price - i.discount))}}</td> -->
                            </tr>
                            <!-- <tr class="" style="border-top: 1px solid black;"> -->
                                <!-- <td>TỔNG</td> -->
                                <!-- <td></td> -->
                                <!-- <td></td> -->
                                <!-- <td></td> -->
                                <!-- <td>{{getTotal(detail_order)}}</td> -->
                            <!-- </tr> -->
                        </table>
                        </div>
            </div>
            <div class="w3-col w3-third  w3-container">
                <div>
                        <label class=""><b>Khách hàng nhận</b></label>
                        <div style="border-top: 2px solid black;">
                            <table class="w3-table">
                                    <tr>
                                        <td>Khách hàng</td>
                                        <td>{{ getCustomerName(detail_customer._id) }}</td>
                                    </tr>
                                    <tr>
                                        <td>Điện thoại</td>
                                        <td>{{ detail_customer.phone }}</td>
                                    </tr>
                                    <tr>
                                        <td>Địa chỉ</td>
                                        <td>{{detail_customer.address}}</td>
                                    </tr>
                                </table>
                            </div>
                </div>
                <div>
                        <label class=""><b>Thông tin vận chuyển</b></label>
                        <div style="border-top: 2px solid black;">
                            <p ng-bind="detail_customer.transport"></p>    
                        </div>
                </div>
            </div>
        </div>
        <div>

        </div>
    </form>
</div>