<div style="display: none" class="">
        <form method="post" action="#" id="print-check-product" class="my_text">
            <div class="w3-row " style="border-bottom: 2px solid gray;">
                <!-- HEAD -->
                <div class="w3-col" style="width: 120px">
                    <img height="100px" width="100px" src="https://i.imgur.com/YHnO0LE.png" title="source: imgur.com" />
                </div>
                <div class="w3-rest mystyle">
                    <p><b>CÔNG TY TNHH GIẢI PHÁP CÔNG NGHỆ CRETA</b></p>
                    <p>Địa chỉ: 659 Lạc Long Quân, P. 10, Q. Tân Bình, Tp. HCM
                        <br>Điện thoại: 0869 27 07 17</p>
                </div>
            </div>
            <div>
                <p class="mystyle" style="text-align: right"><b>Ngày: {{date(detail_order.createdAt)}}</b></p>
                <p class="w3-center mystyle" style="font-size: 32px"><b>PHIẾU XUẤT KHO</b></p>
                <p class="w3-center mystyle" style="font-size: 24px">MĐH: {{"PO" + cutString("00100" + detail_order.id, 5) }}</p>
            </div>
            <div class="w3-row w3-margin-bottom">
                <div class="w3-col" style="width: 15%">
                    <p> </p>
                </div>
                <div class="w3-rest">
                    <table>
                        <tr>
                            <td style="width: 100px">Khách hàng:</td>
                            <td><b>{{ getCustomerName(detail_customer._id) }}</b></td>
                        </tr>
                        <tr>
                            <td>Điện thoại:</td>
                            <td>{{ detail_customer.phone }}</td>
                        </tr>
                        <tr>
                            <td>Địa chỉ:</td>
                            <td>{{detail_customer.address}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="">
                <!-- body -->
    
                <div class="w3-container mystyle">
                    <label><b>Thông tin đơn hàng</b></label>
                    <div class="" style="border-top: 2px solid black;">
                        <table class="w3-table">
                            <tr class="">
                                <th>Tên</th>
                                <th >Số lượng</th>
                                <!-- <th style="text-align: right">Giá</th> -->
                                <!-- <th style="text-align: right">Giảm</th> -->
                                <!-- <th style="text-align: right">Tổng</th> -->
                            </tr>
                            <tr ng-repeat="i in detail_order.products" class="w3-border-bottom">
                                <td>{{i.name}}</td>
                                <td >{{i.amount}}</td>
                                <!-- <td style="text-align: right">{{formatNum(i.price - i.discount)}}</td> -->
                                <!-- <td style="text-align: right">{{formatNum(i.discount)}}</td> -->
                                <!-- <td style="text-align: right">{{ formatNum(i.amount * (i.price - i.discount))}}</td> -->
                            </tr>
                            <!-- <tr class="" style="border-top: 1px solid black;"> -->
                                <!-- <td>TỔNG</td> -->
                                <!-- <td></td> -->
                                <!-- <td></td> -->
                                <!-- <td></td> -->
                                <!-- <td style="text-align: right"><b>{{getTotal(detail_order)}}</b></td> -->
                            <!-- </tr> -->
                        </table>
                    </div>
                </div>
            </div>
            <div>
    
            </div>
        </form>
    </div>