<div style="display: none" class="">
        <form method="post" action="#" id="transport-form" class="my_text">
            <div class="w3-row " style="border-bottom: 2px solid gray;">
                <!-- HEAD -->
                <div class="w3-col" style="width: 120px">
                    <img height="100px" width="100px" src="https://i.imgur.com/YHnO0LE.png" title="source: imgur.com" />
                </div>
                <div class="w3-rest mystyle">
                    <p><b>CÔNG TY TNHH GIẢI PHÁP CÔNG NGHỆ CRETA</b></p>
                    <p>Địa chỉ: 659 Lạc Long Quân, P. 10, Q. Tân Bình, Tp. HCM
                        <br>Điện thoại: 0869 27 07 17</p>
                </div>
            </div>
            <div>
                <p style="text-align: right"><i><b>Ngày xuất: {{date(detail_order.createdAt)}}</b></i></p>
            </div>
            <!-- <div>
                <p class="mystyle" style="text-align: right"><b>Ngày: {{date(detail_order.createdAt)}}</b></p>
                <p class="w3-center mystyle" style="font-size: 28px"><b>THÔNG TIN VẬN CHUYỂN</b><br>--o0o--</p>
            </div> -->
            <p class="mystyle" style="font-size: 24px"><b>NGƯỜI NHẬN:</b></p>
            <div class="w3-row w3-margin-bottom">
                <div class="w3-col" style="width: 15%">
                    <p> </p>
                </div>
                <div class="w3-rest">
                    <table>
                        <tr>
                            <td style="font-size: 20px; width: 180px">Khách hàng:</td>
                            <td style="font-size: 20px"><b>{{ getCustomerName(detail_customer._id) }}</b></td>
                        </tr>
                        <tr>
                            <td style="font-size: 20px">Điện thoại:</td>
                            <td style="font-size: 20px"><b>{{ detail_customer.phone }}</b></td>
                        </tr>
                        <tr>
                            <td style="font-size: 20px">Địa chỉ:</td>
                            <td style="font-size: 20px">{{detail_customer.address}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="mystyle" >
                    <label class="" style="font-size: 22px"><b>Thông tin vận chuyển</b></label>
                    <div style="border-top: 2px solid black;">
                        <p ng-bind="detail_customer.transport"></p>    
                    </div>
            </div>
        </form>
    </div>