<% include ../app/header.ejs %>
<div ng-controller="m_all_controller">
    <div>
        <table class="w3-table-all">
            <thead>
                <th>Mã</th>
                <th>Khách hàng</th>
                <th>Điện thoại</th>
                <!-- <th>Số đơn hàng</th>
                <th>Doanh số</th> -->
            </thead>
            <tr ng-repeat="i in customers_view" ng-click="analyze(i)" class="w3-hover-blue">
                <td>{{ cutString(i._id, 5) }}</td>
                <td>{{ i.first + ' ' + i.name }} </td>
                <td>{{ i.phone }}</td>
                <!-- <td>{{ i.orders.length }}</td>
                <td>{{ formatNumber(i.total) }}</td> -->
            </tr>
        </table>
    </div>
</div>
<script src="/static/js/m_app_customer.js"></script>
<% include ../app/footer.ejs %>