<% include ../app/header.ejs %>
<div ng-controller="m_analyze_controller">
    <div>
        <table class="w3-table-all">
            <thead>
                <th>Mã</th>
                <th>Khách hàng</th>
                <th>Điện thoại</th>
                <th>Số đơn hàng</th>
                <th>Doanh số</th>
            </thead>
            <tr>
                <td>{{ cutString(d_element._id, 5) }}</td>
                <td>{{ d_element.first + ' ' + d_element.name }} </td>
                <td>{{ d_element.phone }}</td>
                <td>{{ orders.length }}</td>
                <td>{{ formatNumber(total) }}</td>
            </tr>
        </table>
    </div>
    <div style="height:50px"></div>
    <div>
        <table class="w3-table-all">
            <thead>
                <th>Ngày</th>
                <th ng-repeat="i in orders_date">{{ i.dates }}</th>
            </thead>
            <tr>
                <td>Số đơn</td>
                <td ng-repeat="i in orders_date">{{ i.ors }}</td>
            </tr>
            <tr>
                <td>Doanh thu</td>
                <td ng-repeat="i in orders_date">{{ formatNumber(i.moneys) }}</td>
            </tr>
        </table>
    </div>
    <div style="height:50px"></div>
    <div>
        <table class="w3-table-all">
            <thead>
                <th>Tên sản phẩm</th>
                <th>Số lượng</th>
                <th>Giá bán trung bình</th>
                <th>Doanh thu</th>
            </thead>
            <tr ng-repeat="i in orders_product">
                <td>{{ i.name }}</td>
                <td>{{ i.amount }}</td>
                <td>{{ formatNumber(i.price) }}</td>
                <td>{{ formatNumber(i.total) }}</td>
            </tr>
        </table>
    </div>
    <div style="height:50px"></div>
</div>
<script src="/static/js/m_app_customer.js"></script>
<% include ../app/footer.ejs %>