<% include ../app/header.ejs %>
<div>
    <div ng-controller="all_product">    
        <div id="all_product">
    
            <table class="w3-table-all">
                <tr>
                    <th>Sản phẩm</th>
                    <th>Giá nhập</th>
                    <th>Giá bán</th>
                    <th>Tồn kho</th>
                    <th>Trạng thái</th>
                    <!-- <th>Code</th> -->
                    <th>Ngày khởi tạo</th>
                </tr>
                <tr ng-repeat="i in products" ng-click="detail(i)" class="w3-hover-black">
                    <td>{{i.name}}</td>
                    <td>{{ formatNumber(i.price_in) }}</td>
                    <td>{{ formatNumber(i.price) }} </td>
                    <td>{{ i.amount }}</td>
                    <td>{{i.status.content}}</td>
                    <!-- <td>{{i.code}}</td> -->
                    <td>{{date(i.createdAt)}}</td>
                </tr>
            </table>

        </div>
        <div id="detail_all_product">
                <% include detail.ejs %>
            </div>
        <script src="/static/js/product.js"></script>
    </div>

</div>
<% include ../app/footer.ejs %>