<% include ../app/header.ejs %>
<div id="create_product" ng-controller="create_product">
        <form >
            <table class="w3-table-all">
                <tr>
                    <td style="width: 15%">Tên</td>
                    <td>
                        <input class="w3-input w3-border" ng-model="name" type="text" name="name">
                    </td>
                </tr>
                <tr>
                    <td>Chi tiết</td>
                    <td>
                        <textarea class="w3-input w3-border" type="text" ng-model="detail" name="detail"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Giá nhập</td>
                    <td>
                        <input class="w3-input w3-border" type="text" ng-model="price_in" name="price_in">
                    </td>
                </tr>
                <tr>
                    <td>Giá bán</td>
                    <td>
                        <input class="w3-input w3-border" type="text" ng-model="price" name="price">
                    </td>
                </tr>
                <tr>
                    <td>Phiên bản</td>
                    <td>
                        <input class="w3-input w3-border" type="text" ng-model="version" name="version">
                    </td>
                </tr>
                <tr>
                    <td>Nhà cung cấp</td>
                    <td>
                        <input class="w3-input w3-border" type="text" ng-model="vendor" name="vendor">
                    </td>
                </tr>
                <tr>
                        <td>Hình ảnh</td>
                        <td>
                            <div ng-repeat="i in images">

                            <input class="w3-input w3-border" type="text" ng-model="i.link" placeholder="LINK IMAGE">

                        </div>
                            <button class="" ng-click="addImage()">+</button>
                        </td>
                    </tr>
                    <tr>
                            <td>Mã sản phẩm</td>
                            <td>
                                <input class="w3-input w3-border" type="text" ng-model="code"" name="code">
                            </td>
                        </tr>                        
                        <tr>
                                <td>SKU</td>
                                <td>
                                    <input class="w3-input w3-border" type="text" ng-model="sku" name="sku">
                                </td>
                            </tr>
                    </table>
            <button class="w3-button w3-right w3-blue w3-round w3-margin" type="button" id="btnCreate" ng-click="create()">Thêm sản phẩm</button>
        </form>
        <script src="/static/js/product.js"></script>
    </div>
    <% include ../app/footer.ejs %>