<button ng-click="back()" class="w3-round w3-blue">Quay lại</button>
<button ng-click="delete()" class="w3-round w3-red">Xoá sản phẩm</button>
<button ng-click="edit()" class="w3-round w3-orange">Cập nhật</button>
<!-- <button ng-click="">Xoá sản phẩm</button> -->
<!-- <button ng-click="">Xoá sản phẩm</button> -->
<div class="w3-margin-top">
        <label>Thông tin sản phẩm</label>
        <div class="w3-container">
            <table class="w3-table-all">
                <tr>
                    <td>Tên</td>
                    <td><input ng-model="detail_product.name" class="w3-input"></td>
                </tr>
                <tr>
                    <td>Trạng thái: <textarea ng-model="detail_product.status.content" class="w3-input"></textarea></td>
                    <td>Màu: <input ng-model="detail_product.status.color" class="w3-input"></td>
                </tr>
                <tr>
                    <td>Chi tiết</td>
                    <td><textarea ng-model="detail_product.detail" class="w3-input"></textarea></td>
                </tr>
                <tr>
                    <td>Giá nhập</td>
                    <td><input ng-model="detail_product.price_in" class="w3-input"></td>
                </tr>
                <tr>
                    <td>Giá bán</td>
                    <td><input ng-model="detail_product.price" class="w3-input"></td>
                </tr>
                <tr>
                    <td>Version</td>
                    <td><input ng-model="detail_product.version" class="w3-input"></td>
                </tr>
                <tr>
                    <td>Nhà cung cấp</td>
                    <td><input ng-model="detail_product.vendor" class="w3-input"></td>
                </tr>
                <tr>
                    <td>Code</td>
                    <td><input ng-model="detail_product.code"></td>
                </tr>
                <tr>
                    <td>SKU</td>
                    <td><input ng-model="detail_product.sku"></td>
                </tr>
                <tr>
                    <td>Ảnh</td>
                    <td><input ng-repeat="i in detail_product.image" ng-model="i.link"></td>
                </tr>
            </table>
        </div>
    </div>