<% include ../app/header.ejs %>
<div ng-controller="all_lead">
    <div id="all_lead">
            <table class="w3-table-all">
                <tr>
                    <th>Mã</th>
                    <th>Khách hàng</th>
                    <th>Điện thoại</th>
                    <th>Email</th>
                </tr>
                <tr ng-repeat="i in leads" ng-click="detail(i)" class="w3-hover-red">
                    <td>{{cutString(i._id, 5)}}</td>
                    <td>{{i.first + ' ' + i.name}}</td>
                    <td>{{i.phone}}</td>
                    <td>{{i.email}}</td>
                </tr>
            </table>
    </div>
    <div id="detail_all_lead">
        <% include detail.ejs %>
    </div>
</div>
<script src="/static/js/app_lead.js"></script>
<% include ../app/footer.ejs %>