<div>
        <!-- HEADER -->
        <button class="w3-button w3-round w3-blue" ng-click="back('detail_all_lead')">Quay lại</button>
        <button class="w3-button w3-round w3-red" ng-click="delete(detail_lead._id)">Xoá khách hàng</button>
        <button class="w3-button w3-round w3-orange" ng-click="edit(detail_lead._id)">Chỉnh sửa khách</button>
    </div>
    <div class="w3-margin-top">
        <!-- BODY  -->
        <label><b>Thông tin khách hàng</b></label>
        <div class="w3-container">
            <table class="w3-table-all">
                <!-- <tr> -->
                    <!-- <td>Mã</td> -->
                    <!-- <td>{{detail_lead._id}}</td> -->
                    <!-- <td><input class="w3-input" ng-model="detail_lead._id"></td> -->
                <!-- </tr> -->
                <tr>
                    <td>Tên</td>
                    <!-- <td>{{detail_lead.first + " " + detail_lead.name}}</td> -->
                    <td><input  class="w3-input" ng-model="detail_lead.name"></td>
                </tr>
                <tr>
                    <td>Họ</td>
                    <!-- <td>{{detail_lead.first + " " + detail_lead.name}}</td> -->
                    <td><input class="w3-input" ng-model="detail_lead.first"></td>
                </tr>
                <tr>
                    <td>Điện thoại</td>
                    <!-- <td>{{detail_lead.phone}}</td> -->
                    <td><input class="w3-input" ng-model="detail_lead.phone"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <!-- <td>{{detail_lead.email}}</td> -->
                    <td><input class="w3-input" ng-model="detail_lead.email"></td>
                </tr>           
                <tr>
                    <td>Địa chỉ</td>
                    <!-- <td>{{detail_lead.address}}</td> -->
                    <td><input class="w3-input" ng-model="detail_lead.address"></td>
                </tr>
                <tr>
                    <td>Vận chuyển</td>
                    <!-- <td>{{detail_lead.transport}}</td> -->
                    <td><input class="w3-input" ng-model="detail_lead.transport"></td>
                </tr>                         
            </table>
        </div>
    </div>
    <div>
        <div class="w3-margin-bottom">
            <!-- SEARCH -->
            <div ng-repeat="i in detail_notes" class="w3-container w3-margin w3-light-gray w3-round w3-padding">
                <label class=""><b>{{date(i.createdAt)}} - {{i.title}}</b> - <button ng-click="deleteNote(i._id)">Xoá</button></label>
                <p ng-bind="i.content"></p>
            </div>
        </div>
        <button ng-click="add_note()" class="w3-magin w3-button w3-orange w3-round">Thêm ghi chú</button>
        <% include lead_note.ejs %>
        <!-- FOOTER  -->
    </div>