<% include ../app/header.ejs %>
<div ng-controller="show_lead">
    <div>
        <button ng-click="delete()">Xoá</button>
        <button ng-click="edit()">Chỉnh</button>
        <!-- <button>Xoá</button> -->
    </div>
    <div class="w3-container">
        <h4>Thông tin cơ bản</h4>
        <table class="w3-table-all">
            <tr>
                <td style="width: 25%">Tên</td>
                <td>{{d_element.name + ' ' + d_element.first}}</td>
            </tr>
            <tr>
                <td>Điện thoại</td>
                <td>{{d_element.phone}}</td>
            </tr>
            <tr>
                <td>Địa chỉ</td>
                <td>{{d_element.address}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{d_element.email}}</td>
            </tr>
        </table>
    </div>
    <div>
        <h3>Ghi chú</h3>
        <div>
            <button ng-click="create_note()">Tạo ghi chú</button>
            <div id="n_note">
                <table>
                    <tr>
                        <td>Tiêu đề</td>
                        <td><input ng-model="n_note_title"></td>
                    </tr>
                    <tr>
                        <td>Nội dung</td>
                        <td><textarea ng-model="n_note_content"></textarea></td>
                    </tr>
                </table>
                <button ng-click="n_note_cancel()">Huỷ</button><button ng-click="n_note_add()">Thêm</button>
            </div>
            <div>
                <div ng-repeat="i in n_element" class="w3-container w3-margin">
                    <div>
                        <!-- <button style="text-align: right" class="w3-right">x</button> -->
                    </div>
                    <table class="w3-table-all">
                        <tr>
                            <td><b>{{i.get().title}}</b> - {{i.getDateString()}}<button style="text-align: right" class="w3-right" ng-click="n_element_note_delete(i)">x</button></td>
                        </tr>
                        <tr>
                            <td>{{i.get().content}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/app_lead.js"></script>
<% include ../app/footer.ejs %>