<div ng-controller="body_sidebar" class="w3-light-grey w3-bar-block w3-container">
    <h3 class="w3-bar-item">CRETA SOLU</h3>
    <!-- <a href="#" class="w3-bar-item w3-button">Đơn hàng</a> -->
    <div class="w3-dropdown-hover">
        <!-- <button class="w3-button">Đơn hàng
            <i class="fa fa-caret-down"></i>
        </button> -->
        <label>ĐƠN HÀNG</label>
        <div class="w3-green">
            <a ng-click="displayApp('all_order')" class="w3-bar-item w3-button">Tất cả đơn hàng</a>
            <a ng-click="displayApp('create_order')" class="w3-bar-item w3-button">Tạo đơn mới</a>
            <!-- <a href="#" class="w3-bar-item w3-button">Chưa xử lý</a> -->
        </div>
    </div>
    <div class="w3-dropdown-hover">
            <!-- <button class="w3-button">Khách hàng
                <i class="fa fa-caret-down"></i>
            </button> -->
            <label>KHÁCH HÀNG</label>
            <div class="w3-red">
                <a ng-click="displayApp('all_customer')" class="w3-bar-item w3-button">Tất cả khách hàng</a>
                <a ng-click="displayApp('cr_customer')" class="w3-bar-item w3-button">Tạo khách hàng mới</a>
            </div>
    </div>
    <div class="">
        <!-- <button class="w3-button">Kho hàng
            <i class="fa fa-caret-down"></i>
        </button> -->
        <label>KHO</label>
        <div class="w3-gray">
            <a ng-click="displayApp('all_stock')" class="w3-bar-item w3-button">Kho</a>
            <a ng-click="displayApp('create_impo')" class="w3-bar-item w3-button">Nhập hàng mới</a>
            <a ng-click="displayApp('all_impo')" class="w3-bar-item w3-button">Quản lý nhập hàng</a>
            <a ng-click="displayApp('all_product')" class="w3-bar-item w3-button">Tất cả sản phẩm</a>
            <a ng-click="displayApp('create_product')" class="w3-bar-item w3-button">Thêm sản phẩm mới</a>
        </div>
    </div>
    <!-- <a href="#" class="w3-bar-item w3-button">Nhân viên</a> -->
    <div class="w3-dropdown-hover" style="display: none">
            <!-- <button class="w3-button">Ghi chú
                <i class="fa fa-caret-down"></i>
            </button> -->
            <label>GHI CHÚ</label>
            <div class="w3-yellow">
                <a ng-click="displayApp('all_note')" class="w3-bar-item w3-button">Tất cả ghi chú</a>
                <a ng-click="displayApp('create_note')" class="w3-bar-item w3-button">Thêm ghi chú</a>
                <!-- <a ng-click="displayApp('create_product')" class="w3-bar-item w3-button"></a> -->
            </div>
        </div>
    <script src="js/app_sidebar.js"></script>
</div>