<div class="w3-container w3-margin-top">
    <% include ../order/all.ejs %>
    <% include ../order/create.ejs %>
    <% include ../customer/all.ejs %>
    <% include ../customer/customer.ejs %>
    <% include ../product/create.ejs %>
    <% include ../impo/all.ejs %>
    <% include ../impo/create.ejs %>
    <% include ../stock/index.ejs %>
    <% include ../note/note.ejs %>
    <% include ../note/all.ejs %>
    <% include ../product/all.ejs %>
</div>