<div class="w3-row">
        <div class="w3-quarter">
            <!-- SIDEBAR -->
            <% include body_sidebar.ejs %>
        </div>
        <div class="w3-threequarter">
            <!-- APP -->
            <% include body_app.ejs %>
        </div>
    </div>