<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/js/print/print.min.css">
    <script src="/static/js/print/print.min.js"></script>
    <style>
        .mystyle{
            font-family:  'Open Sans', sans-serif;
        }
    </style>
    <script>
        if (typeof(Storage) !== "undefined") {
            // var login = localStorage.getItem("login");
            var email = localStorage.getItem("email");
            var pass = localStorage.getItem("pass");
            // var password = localStorage.getItem("password");
            console.log(email, pass);
            if((email == undefined) || (email == "") || (email == null)){
                location.replace("/login");
            }
            jQuery.post("/login", {email: email, pass: pass}, function(r,e){
                console.log(r);
                if(r.status == "OK"){

                } else {
                    location.replace("/login");
                }
                // console.log(e);
            })
        } else {
            //document.getElementById("result").innerHTML = "Sorry, your browser does not support Web Storage...";
        }

    </script>
</head>
<body class="" ng-app="app" style="font-family: 'Roboto', sans-serif;">
    <script src="/static/js/app_support.js"></script>
    <script src="/static/js/app.js"></script>
    <div id="notify" style="position: absolute; right: 0px; top: 0px; z-index: 1;" class="w3-margin w3-round">
        <p class="w3-padding" id="ntfContent">2323</p>
        <script>
            jQuery("#notify").hide();
        </script>
    </div>
<div class="w3-container w3-padding-bottom w3-round w3-light-blue">
    <!-- <h3>CRETA SOLU</h3> -->
    <h5>Theo dõi thời gian thực</h5>
    <p class="w3-right">Hệ thống truy cập cấp quản lý</p>
</div>
<div class="w3-row">
    <div class="w3-col w3-quarter">
        <div class="w3-blue w3-round"><a class="w3-button" style="width: 100%" href="/app/find_order">Đánh giá đơn hàng</a></div>
    </div>
    <div class="w3-col w3-threequarter">