<% include ../app/dashboard_header.ejs %>
<div ng-controller="dashboard">
<div>
    <table>
        <tr>
            <td>Bắt đầu:</td>
            <td><input ng-model="startDay" type="date"></td>
        </tr>
        <tr>
            <td>Kết thúc</td>
            <td><input ng-model="endDay" type="date"></td>
        </tr>
    </table>
    <button ng-click="searchOrder()">Lọc đơn</button>
</div>
<div class="w3-row">
    <div class="w3-col w3-quarter">
        <label>Tổng đơn</label>
        <h1>{{orders_f.length}}</h1>
    </div>
    <div class="w3-col w3-quarter">
            <label>Tổng thu</label>
            <h1>{{formatNum(orderAllTotal(orders_f))}}</h1>
        </div>
</div>
<div>
    <script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js">
    </script>
    <script type = "text/javascript">
           google.charts.load('current', {packages: ['corechart','line']});  
    </script>
    <div id="chart">
        <h3>Biểu đồ</h3>    
        <div id = "container" style = "width: 1280px; height: 720px; margin: 0 auto">
        </div>
    </div>
</div>
<div>
    <table class="w3-table-all">
        <tr>
            <th>Tên</th>
            <th>Số tiền</th>
            <th>Ngày mua</th>
        </tr>
        <tr ng-repeat="i in orders_f" class="w3-hover">
            <td>{{idToCustomer(i.customer).name}}</td>
            <td>{{formatNum(orderToTotal(i))}}</td>
            <td>{{date(i.createdAt)}}</td>
        </tr>
    </table>
</div>
</div>
<script src="../static/js/dashboard_order.js"></script>
<% include ../app/footer.ejs %>