<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- <script src="https://kit.fontawesome.com/yourcode.js"></script> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="/static/js/print/print.min.css">
    <script src="/static/js/print/print.min.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/c_model.js"></script>
    <script src="/static/js/c_note.js"></script>
    <script src="/static/js/c_product.js"></script>
    <script src="/static/js/c_order.js"></script>
    <script src="/static/js/c_impo.js"></script>
    <script src="/static/js/c_lead.js"></script>
    <script src="/static/js/c_stock.js"></script>

    <script src="/static/js/c_customer.js"></script>
    <style>
        .mystyle{
            font-family:  'Open Sans', sans-serif;
        }
    </style>
    <script>
        if (typeof(Storage) !== "undefined") {
            // var login = localStorage.getItem("login");
            var email = localStorage.getItem("email");
            var pass = localStorage.getItem("pass");
            // var password = localStorage.getItem("password");
            console.log(email, pass);
            if((email == undefined) || (email == "") || (email == null)){
                location.replace("/login");
            }
            jQuery.post("/login", {email: email, pass: pass}, function(r,e){
                console.log(r);
                if(r.status == "OK"){

                } else {
                    location.replace("/login");
                }
                // console.log(e);
            })
        } else {
            //document.getElementById("result").innerHTML = "Sorry, your browser does not support Web Storage...";
        }

    </script>
</head>
<body class="" ng-app="app" style="font-family: 'Roboto', sans-serif;">
    <script src="/static/js/app_support.js"></script>
    <script src="/static/js/app.js"></script>
    <div id="notify" style="position: absolute; right: 0px; top: 0px; z-index: 1;" class="w3-margin w3-round">
        <p class="w3-padding" id="ntfContent">2323</p>
        <script>
            jQuery("#notify").hide();
        </script>
    </div>
<div id="header_side" class="w3-container w3-padding-bottom w3-round w3-light-blue">
    <!-- <h3>CRETA SOLU</h3> -->
    <h5>Hệ thống quản lý tập trung</h5>
    <p class="w3-right"><a href="/black">Phiên bản thử nghiệm. Hỗ trợ kỹ thuật: 0932 032 732 (Lâm)</a></p>
</div>
<div class="w3-row">
    <div class="w3-col w3-quarter" id="sidebar_side">
        <!-- SIDEBAR -->
        <div  class="w3-light-grey w3-bar-block w3-container">
                <h3 class="w3-bar-item">CRETA SOLU</h3>
                <!-- <a href="#" class="w3-bar-item w3-button">Đơn hàng</a> -->
                <div class="w3-dropdown-hover">
                    <!-- <button class="w3-button">Đơn hàng
                        <i class="fa fa-caret-down"></i>
                    </button> -->
                    <label>ĐƠN HÀNG</label>
                    <div class="w3-green">
                        <a href="/views/order" class="w3-bar-item w3-button">Tất cả đơn hàng</a>
                        <a href="/create/order" class="w3-bar-item w3-button">Tạo đơn mới</a>
                        <!-- <a href="#" class="w3-bar-item w3-button">Chưa xử lý</a> -->
                    </div>
                </div>
                <div class="w3-dropdown-hover">
                        <!-- <button class="w3-button">Khách hàng
                            <i class="fa fa-caret-down"></i>
                        </button> -->
                        <label>KHÁCH HÀNG</label>
                        <div class="w3-red">
                            <a href="/views/customer" class="w3-bar-item w3-button">Tất cả khách hàng</a>
                            <a href="/create/customer" class="w3-bar-item w3-button">Tạo khách hàng mới</a>
                            <a href="/views/customer_explore" class="w3-bar-item w3-button">Phân tích khách hàng</a>
                        </div>
                </div>
                <div class="">
                    <!-- <button class="w3-button">Kho hàng
                        <i class="fa fa-caret-down"></i>
                    </button> -->
                    <label>KHO</label>
                    <div class="w3-gray">
                        <a href="/views/stock" class="w3-bar-item w3-button">Kho</a>
                        <a href="/create/impo" class="w3-bar-item w3-button">Nhập hàng mới</a>
                        <a href="/views/impo" class="w3-bar-item w3-button">Quản lý nhập hàng</a>
                        <a href="/views/product" class="w3-bar-item w3-button">Tất cả sản phẩm</a>
                        <a href="/create/product" class="w3-bar-item w3-button">Thêm sản phẩm mới</a>
                    </div>
                </div>
                <div>
                    <a href="/views/lead">LEAD</a>
                    <a href="/create/lead">C_LEAD</a>
                </div>
                <!-- <a href="#" class="w3-bar-item w3-button">Nhân viên</a> -->
                <div class="w3-dropdown-hover" style="display: none">
                        <!-- <button class="w3-button">Ghi chú
                            <i class="fa fa-caret-down"></i>
                        </button> -->
                        <label>GHI CHÚ</label>
                        <div class="w3-yellow">
                            <!-- <a ng-click="displayApp('all_note')" class="w3-bar-item w3-button">Tất cả ghi chú</a> -->
                            <!-- <a ng-click="displayApp('create_note')" class="w3-bar-item w3-button">Thêm ghi chú</a> -->
                            <!-- <a ng-click="displayApp('create_product')" class="w3-bar-item w3-button"></a> -->
                        </div>
                    </div>
                <!-- <script src="/static/js/app_sidebar.js"></script> -->
            </div>        
    </div>
    <div class="w3-col w3-threequarter">