<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="/static/js/print/print.min.css">
    <script src="/static/js/print/print.min.js"></script>
    <script src="/static/js/chart.js"></script>
    <script src="/static/js/c_model.js"></script>
    <script src="/static/js/c_note.js"></script>
    <script src="/static/js/c_customer.js"></script>
    <script src="/static/js/c_product.js"></script>
    <script src="/static/js/c_order.js"></script>
    <script src="/static/js/c_impo.js"></script>
    <script src="/static/js/c_lead.js"></script>
    <style>
        .mystyle{
            font-family:  'Open Sans', sans-serif;
        }
    </style>
    <script>
        if (typeof(Storage) !== "undefined") {
            // var login = localStorage.getItem("login");
            var email = localStorage.getItem("email");
            var pass = localStorage.getItem("pass");
            // var password = localStorage.getItem("password");
            console.log(email, pass);
            if((email == undefined) || (email == "") || (email == null)){
                location.replace("/login");
            }
            jQuery.post("/login", {email: email, pass: pass}, function(r,e){
                console.log(r);
                if(r.status == "OK"){

                } else {
                    location.replace("/login");
                }
                // console.log(e);
            })
        } else {
            //document.getElementById("result").innerHTML = "Sorry, your browser does not support Web Storage...";
        }

    </script>
</head>
<body class="" ng-app="app" style="font-family: 'Roboto', sans-serif;">
    <script src="/static/js/app_support.js"></script>
    <script src="/static/js/app.js"></script>
<!-- <button onclick='jQuery("#sidebar_side").show()'>S</button> -->
<div ng-controller="black">
<div id="black" ng-controller="black" class="w3-row">
    <div class="w3-row">
        <div class="w3-col w3-quarter w3-blue">
            <h3 class="w3-center">KHÁCH HÀNG</h3>
            <h1 class="w3-center" style="font-size: 36; ">{{formatNum(count_customer)}}</h1>
        </div>
        <div class="w3-col w3-quarter w3-yellow">
            <!-- <div class="w3-col w3-quarter w3-yellow"> -->
                    <h3 class="w3-center">ĐƠN HÀNG</h3>
                    <h1 class="w3-center" style="font-size: 36; ">{{formatNum(count_order)}}</h1>
            <!-- </div> -->
        </div>
        <div class="w3-col w3-quarter w3-green">
            <h3 class="w3-center">DOANH SỐ</h3>
            <h1 class="w3-center" style="font-size: 36; ">{{formatNum(count_total)}}</h1>
        </div>
        <div class="w3-col w3-quarter w3-red">
                <h3 class="w3-center">LỢI NHUẬN</h3>
                <h1 class="w3-center" style="font-size: 36; ">{{formatNum(count_sub)}}</h1>
            </div>
    </div>
    <div class="w3-col w3-container">
        <div style="width: 30%">
            <div>
                <p class="w3-black w3-round w3-padding">Khách hàng mua nhiều nhất</p>
                <h3>Doanh số: {{formatNum(cus_first.money)}}</h3>
            </div>
        </div>
        <div class="w3-rest">
            <label>START:</label>
            <input type="date" ng-model="start">
            <label>END:</label>
            <input type="date" ng-model="end"> <button ng-click="draw()">Đơn hàng</button>
            <button ng-click="draw_total()">Gía trị</button>
            <div>
                    <canvas id="myChart" width="400" height="100"></canvas>
            </div>
            <div>
                    <canvas id="myChart1" width="400" height="100"></canvas>
            </div>
        </div>
    </div>
    
</div>
<div id="counter" class="w3-display-middle">
        <p>Đợi một lát nhé!. Dữ liệu đang được chuẩn bị</p>
        <h1 style="text-align: center">{{timer}}</h1>
    </div>
</div>

<script src="/static/js/black.js"></script>
<% include ../app/footer.ejs %>