<html>
    <head>
        <!-- <script src=""></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <form>
            <table>
                <tr>
                    <td>email</td>
                    <td><input name="email" id="name"></td>
                </tr>
                <tr>
                    <td>password</td>
                    <td><input name="pass" id="pass" type="password"></td>
                </tr>
            </table>
            <button type="button" id="btnLogin" onclick="login()">Login</button>
        </form>
    </body>
    <script>
        var btn = jQuery("#btnLogin");
        function login(){
            var obj = {
                email: jQuery("#name").val(),
                pass: jQuery("#pass").val()
            }
            console.log(obj);
            jQuery.post("/login", obj, function(res){
                console.log(res);
                if(res.status == "OK"){
                    localStorage.setItem("email", jQuery("#name").val());
                    localStorage.setItem("pass", jQuery("#pass").val());
                } else {

                }
                location.replace("/")
            })
        }
    </script>
</html>