<% include ../app/header.ejs %>
<div ng-controller="m_all_stock" class="w3-container">
    <!-- <button ng-click="filter_amount(num)">ACTION</button> -->

    <!-- <input ng-model="num"> -->
    <h3 class="w3-right">{{formatNum(total_filter)}}</h3>
    
    <div id="all_stock">
        <table class="w3-table-all">
            <tr>
                <th>Sản phẩm</th>
                <th>Tổng hàng</th>
                <th>Số lượng tồn</th>
                <th>Giá nhập</th>
                <th>Tiền tồn</th>
                <th>Thông báo</th>
            </tr>
            <tr ng-repeat="i in stocks">
                <td>{{i.nameProduct}}</td>
                <td>{{ i.a_amount }}</td>
                <td>{{i.amount}}</td>
                <td>{{i.price_in}}</td>
                <td>{{ parseInt(i.amount)*parseInt(i.price_in) }}</td>
                <td>{{i.status.content}}</td>
                
            </tr>
        </table>
    </div>
    <div>
        
    </div>
</div>
<script src="/static/js/m_app_stock.js"></script>
<% include ../app/footer.ejs %>