<% include ../app/header.ejs %>
<div ng-controller="all_stock" class="w3-container">
    <button ng-click="filter_amount(num)">ACTION</button>
    <input ng-model="num">
    <h3 class="w3-right">{{formatNum(total_filter)}}</h3>
    
    <div id="all_stock">
        <table class="w3-table-all">
            <tr>
                <th>Sản phẩm</th>
                <th>Số lượng</th>
                <th>Thông báo</th>
            </tr>
            <tr ng-repeat="i in stock_filter" class="{{i.status.color}}">
                <td>{{i.name}}</td>
                <td>{{i.amount}}</td>
                <td>{{i.status.content}}</td>
            </tr>
        </table>
    </div>
    <div>
        
    </div>
</div>
<script src="/static/js/app_stock.js"></script>
<% include ../app/footer.ejs %>