<div ng-controller="edit_customer">
        <form>
            <table class="w3-table-all">
                <tr>
                    <td style="width: 15%">Tên</td>
                    <td>
                        <input class="w3-input w3-border" type="text" name="name">
                    </td>
                </tr>
                <tr>
                    <td>Họ</td>
                    <td>
                        <input class="w3-input w3-border" type="text" name="first">
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>
                        <input class="w3-input w3-border" type="text" name="email">
                    </td>
                </tr>
                <tr>
                    <td>Điện thoại</td>
                    <td>
                        <input class="w3-input w3-border" type="text" name="phone">
                    </td>
                </tr>
                <tr>
                    <td>Ghi chú</td>
                    <td>
                        <textarea class="w3-input w3-border" type="text" name="note"></textarea>
                    </td>
                </tr>
    
            </table>
        </form>
        <button ng-click="btnShowCustomer()" style="display: none"></button>
        <button ng-click="btnEdit()">Lưu lại</button>
        <button ng-click="btnEsc()">Huỷ</button>
</div>