<% include ../app/header.ejs %>
<div ng-controller="all_customer">
    <div id="all_customer">
            <table class="w3-table-all">
                <tr>
                    <th>Mã</th>
                    <th>Khách hàng</th>
                    <th>Điện thoại</th>
                    <!-- <th>Money</th> -->
                </tr>
                <tr ng-repeat="i in customers" ng-click="detail(i)" class="w3-hover-red">
                    <td>{{cutString(i._id, 5)}}</td>
                    <td>{{i.first + ' ' + i.name}}</td>
                    <td>{{i.phone}}</td>
                    <!-- <td>{{num(i.total)}}</td> -->
                    <!-- <td></td> -->
                </tr>
            </table>
    </div>
    <div id="detail_all_customer">
        <% include detail.ejs %>
    </div>
</div>
<script src="/static/js/app_customer.js"></script>
<% include ../app/footer.ejs %>