<% include ../app/header.ejs %>

<div id="cr_customer" ng-controller="cr_customer">
        <p>Trạng thái: <span ng-bind="cd_customer_alert"></span></p>
            <form method="POST" action="/customers">
                <table class="w3-table-all">
                    <tr>
                        <td style="width: 15%">Tên</td>
                        <td>
                            <input class="w3-input w3-border" type="text" ng-model="name" name="name">
                        </td>
                    </tr>
                    <tr>
                        <td>Họ</td>
                        <td>
                            <input class="w3-input w3-border" type="text" ng-model="first" name="first">
                        </td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>
                            <input class="w3-input w3-border" type="text" ng-model="email" name="email">
                        </td>
                    </tr>
                    <tr>
                        <td>Điện thoại</td>
                        <td>
                            <input class="w3-input w3-border" type="text" ng-model="phone" name="phone">
                        </td>
                    </tr>
                    <tr>
                        <td>Ghi chú</td>
                        <td>
                            <textarea class="w3-input w3-border" type="text" ng-model="note" name="note"></textarea>
                        </td>
                    </tr>
                    <tr>
                            <td>Địa chỉ</td>
                            <td>
                                <textarea class="w3-input w3-border" type="text" ng-model="address" name="address"></textarea>
                            </td>
                        </tr>
                    <tr>
                            <td>Vận chuyển</td>
                            <td>
                                <textarea class="w3-input w3-border" type="text" ng-model="transport" name="transport"></textarea>
                            </td>
                        </tr>
                </table>
                <button class="w3-button w3-right w3-blue w3-round w3-margin" type="button" ng-click="create()">Tạo khách hàng</button>
            </form>
        </div>
        <script src="/static/js/app_customer.js">
            
        </script>
        <% include ../app/footer.ejs %>