<div>
    <!-- HEADER -->
    <button class="w3-button w3-round w3-blue" ng-click="back('detail_all_customer')">Quay lại</button>
    <button class="w3-button w3-round w3-red" ng-click="delete(detail_customer._id)">Xoá khách hàng</button>
    <button class="w3-button w3-round w3-orange" ng-click="edit(detail_customer._id)">Chỉnh sửa khách</button>
</div>
<div class="w3-margin-top">
    <!-- BODY  -->
    <label><b>Thông tin khách hàng</b></label>
    <div class="w3-container">
        <table class="w3-table-all">
            <!-- <tr> -->
                <!-- <td>Mã</td> -->
                <!-- <td>{{detail_customer._id}}</td> -->
                <!-- <td><input class="w3-input" ng-model="detail_customer._id"></td> -->
            <!-- </tr> -->
            <tr>
                <td>Tên</td>
                <!-- <td>{{detail_customer.first + " " + detail_customer.name}}</td> -->
                <td><input  class="w3-input" ng-model="detail_customer.name"></td>
            </tr>
            <tr>
                <td>Họ</td>
                <!-- <td>{{detail_customer.first + " " + detail_customer.name}}</td> -->
                <td><input class="w3-input" ng-model="detail_customer.first"></td>
            </tr>
            <tr>
                <td>Điện thoại</td>
                <!-- <td>{{detail_customer.phone}}</td> -->
                <td><input class="w3-input" ng-model="detail_customer.phone"></td>
            </tr>
            <tr>
                <td>Email</td>
                <!-- <td>{{detail_customer.email}}</td> -->
                <td><input class="w3-input" ng-model="detail_customer.email"></td>
            </tr>           
            <tr>
                <td>Địa chỉ</td>
                <!-- <td>{{detail_customer.address}}</td> -->
                <td><input class="w3-input" ng-model="detail_customer.address"></td>
            </tr>
            <tr>
                <td>Vận chuyển</td>
                <!-- <td>{{detail_customer.transport}}</td> -->
                <td><input class="w3-input" ng-model="detail_customer.transport"></td>
            </tr>                         
        </table>
    </div>
</div>
<div>
    <div class="w3-margin-bottom">
        <!-- SEARCH -->
        <div ng-repeat="i in detail_notes" class="w3-container w3-margin w3-light-gray w3-round w3-padding">
            <label class=""><b>{{date(i.createdAt)}} - {{i.title}}</b> - <button ng-click="deleteNote(i._id)">Xoá</button></label>
            <p ng-bind="i.content"></p>
        </div>
    </div>
    <button ng-click="add_note()" class="w3-magin w3-button w3-orange w3-round">Thêm ghi chú</button>
    <% include customer_note.ejs %>
    <!-- FOOTER  -->
</div>