<% include ../app/header.ejs %>
<div ng-controller="show_customer">
    <div class="w3-container w3-margin-top">
        <button ng-click="delete()" class="w3-right">Xoá</button>
        <button ng-click="edit()" class="w3-right w3-padding-right">Chỉnh</button>
        <!-- <button ng-click="add_order()">Đơn hàng mới</button> -->
        <!-- <button>Xoá</button> -->
    </div>
    <div class="w3-container w3-margin-top">
        <div>

        </div>
        <div class="" style="width: 50%">
            <table class="w3-border">
                <tr>
                    <td class="w3-border" style="width: 20%">Số đơn</td>
                    <td class="w3-border" style="width: 10%; text-align: right">{{orders.length}}</td>
                </tr>
                <tr>
                    <td class="w3-border" style="width: 20%">Doanh số</td>
                    <td class="w3-border" style="width: 10%; text-align: right">{{num(total)}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="w3-container">
        <h4>Thông tin cơ bản</h4>
        <table class="w3-table-all">
            <tr>
                <td style="width: 20%">Tên</td>
                <td><input class="w3-input" ng-model="d_element.name"></td>
            </tr>
            <tr>
                <td>Điện thoại</td>
                <td><input ng-model="d_element.phone" class="w3-input w3-border"></td>
            </tr>
            <tr>
                <td>Địa chỉ</td>
                <td><input ng-model="d_element.address" class="w3-input w3-border"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input ng-model="d_element.Email" class="w3-input w3-border"></td>
            </tr>
            <tr>
                <td>Vận chuyển</td>
                <td><input ng-model="d_element.transport" class="w3-input w3-border"></td>
            </tr>
        </table>
    </div>
    <div>
        <h3>Ghi chú</h3>
        <div>
            <button ng-click="create_note()">Tạo ghi chú</button>
            <div id="n_note">
                <table>
                    <tr>
                        <td>Tiêu đề</td>
                        <td><input ng-model="n_note_title"></td>
                    </tr>
                    <tr>
                        <td>Nội dung</td>
                        <td><textarea ng-model="n_note_content"></textarea></td>
                    </tr>
                </table>
                <button ng-click="n_note_cancel()">Huỷ</button><button ng-click="n_note_add()">Thêm</button>
            </div>
            <div>
                <div ng-repeat="i in n_element" class="w3-container w3-margin">
                    <div>
                        <!-- <button style="text-align: right" class="w3-right">x</button> -->
                    </div>
                    <table class="w3-table-all">
                        <tr>
                            <td><b>{{i.get().title}}</b> - {{i.getDateString()}}<button style="text-align: right" class="w3-right" ng-click="n_element_note_delete(i)">x</button></td>
                        </tr>
                        <tr>
                            <td>{{i.get().content}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/app_customer.js"></script>
<% include ../app/footer.ejs %>