<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <style>
    </style>
</head>
<body>
    <div>
        <h2>
            Chương trình số hoá CRETA
        </h2>
        <div><a class="w3-button w3-round w3-padding w3-margin w3-green" href="/corder" style="width: 200px">Đơn hàng</a></div>
        <div><a class="w3-button w3-round w3-padding w3-margin w3-red" href="/cimpo" style="width: 200px">Nhập hàng</a></div>
        <div><a class="w3-button w3-round w3-padding w3-margin w3-yellow" href="/show/product" style="width: 200px">Sản phẩm</a></div>
        <div><a class="w3-button w3-round w3-padding w3-margin w3-pink" href="/show/staff" style="width: 200px">Nhân viên</a></div>
        <div><a class="w3-button w3-round w3-padding w3-margin w3-gray" href="/show/customer" style="width: 200px">Khách hàng</a></div>        
    </div>
</body>
</html>