<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <style>
    </style>
</head>
<body ng-app="creta">
    <button class="w3-right w3-margin w3-button w3-orange w3-round" onclick="jQuery('#page-4').show()" >Thêm khách hàng</button>
    <div ng-controller="show_customer">
        <!-- <label>Tìm kiếm theo tên</label> -->
        <input class="w3-input" type="text" ng-model="searchText" placeholder="Lọc theo tên khách hàng">
        <div class="w3-container w3-margin" ng-repeat="i in customers | filter: {name: searchText}" ng-click="page_customer(i.id)">
            <div class="w3-blue w3-padding w3-round">
                <h4 class="">{{i.first + ' ' +i.name}}</h4>
                <button class="" ng-click="delete(i.id)">x</button>
            </div>
            <div class="w3-padding">
                <p>Điện thoại: {{i.phone}}</p>
                <p>Địa chỉ: {{i.address}}</p>
            </div>
            <!-- <div ng-repeat="j,k in i">
                <p>{{j}}-{{k}}</p>
            </div> -->
            <div>
                <button ng-click="addnote(i)" class="w3-button w3-green w3-round w3-right">Thêm ghi chú</button>
            </div>
        </div>
        <div id="page-3" class="w3-modal">
                <div class="w3-modal-content w3-round w3-padding">
                    <head>
                        <label>Ghi chú</label>
                    </head>
                    <div class="w3-padding w3-margin">
                        <input id="a_note" class="w3-input" ng-model="a_note" placeholder=Ghi chú>
                    </div>    
                    <footer>
                        <p>Thêm một chút ghi chú gì đó</p>
                    </footer>
                    <button class="w3-button w3-blue w3-round" ng-click="syncnote()">Thêm</button>
                </div>
            </div>
        <button id="getall" ng-click="getall()" style="display: none">GET ALL</button>    
    </div>
    <div  id="page-4" class="w3-modal">
        <div class="w3-modal-content w3-round w3-padding">
            <header class="w3-gray w3-padding">
                <h4>Thêm khách hàng mới</h4>
            </header>
            <div ng-controller="customer" class=" w3-padding">
                    <!-- <form> -->
                            <table class="w3-table-all">
                                    <tr>
                                        <th>Thông số</th>
                                        <th>Giá trị</th>
                                    </tr>
                                    <tr>
                                        <td>Tên</td>
                                        <td><input type="text" name="name" ng-model="name" class="w3-input"></td>
                                    </tr>
                                    <!-- <tr>
                                        <td>Họ</td>
                                        <td><input type="text" name="first" ng-model="first" class="w3-input"></td>
                                    </tr> -->
                                    <tr>
                                        <td>Điện thoại</td>
                                        <td><input type="text" name="phone" ng-model="phone" class="w3-input"></td>
                                    </tr>
                                    <tr>
                                        <td>Địa chỉ</td>
                                        <td><input type="text" name="address" ng-model="address" class="w3-input"></td>
                                    </tr>
                                    <tr>
                                        <td>Vận chuyển</td>
                                        <td><input type="text" name="transport" ng-model="transport" class="w3-input"></td>
                                    </tr>
                                    <tr>
                                        <td>Ghi chú</td>
                                        <td><input type="text" name="note" ng-model="note" class="w3-input"></td>
                                    </tr>
                                </table>
                                <button type="button" ng-click="cretaCustomer()" class="w3-button w3-round w3-blue">Tạo mới</button>
                    <!-- </form> -->
                                <!-- <h2>Hello</h2> -->
                </div>
            <div>
    </div>
    <% include waiting %>
    <script src="js/customer.js"></script>
</body>
</html>