<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <style>
    </style>
</head>
<body ng-app="creta"  ng-keypress="catchKey($event.keyCode)" class="w3-padding w3-border-green">
    <div class="w3-row">
        <div class="w3-col w3-half">
            <div>
                <h2>CUSTOMER</h2>
            </div>
        </div>
        <div ng-controller="customer" class="w3-col w3-half">
            <form>
                    <table>
                            <tr>
                                <th>Thông số</th>
                                <th>Giá trị</th>
                            </tr>
                            <tr>
                                <td>Tên</td>
                                <td><input type="text" name="name" ng-model="name"></td>
                            </tr>
                            <tr>
                                <td>Họ</td>
                                <td><input type="text" name="first" ng-model="first"></td>
                            </tr>
                            <tr>
                                <td>Điện thoại</td>
                                <td><input type="text" name="phone" ng-model="phone"></td>
                            </tr>
                            <tr>
                                <td>Địa chỉ</td>
                                <td><input type="text" name="address" ng-model="address"></td>
                            </tr>
                            <tr>
                                <td>Vận chuyển</td>
                                <td><input type="text" name="transport" ng-model="transport"></td>
                            </tr>
                            <tr>
                                <td>Ghi chú</td>
                                <td><input type="text" name="note" ng-model="note"></td>
                            </tr>
                        </table>
                        <button type="button" ng-click="cretaCustomer()">Tạo mới</button>
            </form>

        </div>
    </div>
    <script src="js/customer.js"></script>
</body>
</html>