<div>
    <div id="all_note" ng-controller="all_note">
        <table class="w3-table-all w3-hover-orange">
            <tr>
                <th>Ngày tạo</th>
                <th>Nguồn</th>
                <th>Mã chính</th>
                <th>Nội dung</th>
            </tr>
            <tr ng-repeat="i in notes">
                <td>{{date(i.createdAt)}}</td>
                <td>{{i.source}}</td>
                <td>{{i.sourceId}}</td>
                <td>{{i.content}}</td>
            </tr>
        </table>
    </div>
    <div id="detail_all_note">

    </div>
    <script src="js/app_note.js"></script>
</div>