    <div id="create_note" ng-controller="create_note">
        <form>
            <table class="w3-table-all">
                <tr>
                    <td style="width: 15%">Tên</td>
                    <td>
                        <input class="w3-input w3-border" type="text" ng-model="title" name="title">
                    </td>
                </tr>
                    <td>Ghi chú</td>
                    <td>
                        <textarea class="w3-input w3-border" type="text" ng-model="content" name="content"></textarea>
                    </td>
                </tr>
            </table>
            <button class="w3-button w3-right w3-blue w3-round w3-margin" type="button" ng-click="create()">Tạo khách hàng</button>
        </form>
    </div>